@font-face {
  font-family: Ember-head;
  src:  url("./fonts//Ember/AmazonEmber_He.ttf");
}
@font-face {
  font-family: Ember;
  src:  url("./fonts//Ember/AmazonEmber_Lt.ttf");
}
@font-face {
  font-family: Ember-normal;
  src:  url("./fonts/Ember/Amazon-Ember-Medium.ttf");
}
@font-face {
  font-family:Normal;
  src:  url("./fonts/Ember/AmazonEmber_Rg.ttf");
}

* {
  margin: 0%;
  padding: 0%;
}
body{
  background-color: #eaeded;
  /* overflow-x:hidden; */
}